@model  Model.User
@{
ViewBag.Title = "Editar conta";
Layout = "../Shared/_AccountLayout.cshtml";
}

@section headScript {
    <link href="~/Content/css/account.css" rel="stylesheet" />
}

<div id="EditAccount" class="ulAccountScheme">

    <form role="form" method="POST" action="@Url.Action("Edit", "Account", new {id = ViewBag.advertId})" enctype="multipart/form-data">
        <h2>Editar conta</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Informação do User <small>* campos obrigatório</small></h3>
            </div>
        </div>
        <div class="panel-body">

            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label>Username: </label>
                    <input type="text" class="form-control" disabled="disabled" name="username" value='@Model.Username'/>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label>Password*:</label>
                    <input type="password" class="form-control" name="Password" />
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label>Nova Password: </label>
                    <input type="password" class="form-control" name="newPassword" />
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label>Nome*:</label>
                    <input type="text" class="form-control" name="fullName" value='@Model.FullName'/>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label>Email*:</label>
                    <input type="email" class="form-control" name="email" value='@Model.Email'/>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label>Telemóvel:  </label>
                    <input type="tel" class="form-control" name="phoneNr" value='@Model.PhoneNr'/>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="form-group">
                    <label>Districto: </label>
                    @Html.Partial("PartialDropdownDistrictEnum")
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Informação do Stand <small>* campo obrigatório</small></h3>
            </div>
        </div>
        <div class="panel-body" id="standPanel">
            <div class="col-sm-6 col-md-2">
                <div class="form-group">
                    <label>É Stand?</label>
                    <input type="checkbox" name="isStand" />
                </div>
            </div>
            <div class="col-sm-6 col-md-5">
                <div class="form-group">
                    <label>Link: </label>
                    <input type="url" class="form-control" name="standLink" />
                </div>
            </div>
            <div class="col-sm-6 col-md-5">
                <div class="form-group">
                    <label>Endereço*:</label>
                    <input type="text" class="form-control" name="fullAdress" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <a id="backIndex" href="@Url.Action("Index", "Account")" class="btn btn-primary">Voltar</></a>
            <button class="btn btn-warning" id="editAccountButton" type="submit">Alterar</button>
                    <a onclick="checkDeleteAccount()" class="btn btn-danger">
            Apagar
        </a>
        </div>
    </form>
</div>
<br />
<span id="checkPassword" class="label label-danger"></span>
<script>
    function checkDeleteAccount() {
        var password = prompt("Confirme a sua password:");
        if (password != null) {
            if (password != String(@Model.Password))
                document.getElementById("checkPassword").innerHTML = "Password incorrecta! Tente Novamente!!";
            else {
                $.ajax({
                    url: '@Url.Action("Delete", "Account")',
                    method: 'POST',
                    success: function () {
                        alert("Conta irá ser apagada!");
                        window.location.href = '@Url.Action("Index", "Home")';
                    }
                });
            }

        }
    }
</script>

