<%- contentFor('headScript') %>
<link href="/css/listAd.css" rel="stylesheet" />

<%- contentFor('bodyContent') %>
		<div class="container" id="containerId">
			<!-- Car List -->


			 <% for(var brandName in AdvertiseModel){ %>

				<div class="panel panel-info">
					<!-- Default panel contents -->
					<div class="panel-heading">
						<div class="brand_logo">
							<span class="<%=brandName%>_logo"/>
							<img src="/images/CarBrands/<%=brandName.replace(' ','_')%>_logo.jpg"/>

						</div>
						<div class="bname"><%=brandName%></div>
					</div>
					<!-- Table -->
					<table class="table">
						<tr id="headers">
							<td class="carPhoto"><b>Foto</b></td>
							<td class="carName"><b>Nome</b></td>
							<td class="price"><b>Preço</b></td>
							<td class="accessories"><b>Acessórios</b></td>
						</tr>
						 
						
						<% for(var advId = 0;advId< AdvertiseModel[brandName].length; advId++) {%>
								<% var advert = AdvertiseModel[brandName][advId] ; %>
								<%  include ../templates/PartialListAdvertWithCharacteristics.ejs %>
						<%}%>
					</table>
					<!-- Table -->
				</div>
			<%}%>
			<!--@Html.Partial("PartialPagination", 1)-->

		</div>