@model  Model.User
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="~/Content/css/global.css" rel="stylesheet" media="screen">
        <link href="~/Content/images/logo.ico" rel="SHORTCUT ICON" />
        <script src="~/Scripts/jquery-2.1.0.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script>
            window.onload = function() {

                @if (IsSectionDefined("callOnLoadFuncs"))
                {
                    @RenderSection("callOnLoadFuncs")
                    ;
                }

            };
        </script>
        @if (IsSectionDefined("headScript"))
        {
            @RenderSection("headScript")
        }
    </head>
    <body>

        <!-- Fixed Navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home")">
                        <p class="navbar-brand">AutoMobile</p>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index", "Advertise")">Anúncios</a></li>
                        <li><a href="@Url.Action("Search", "Advertise")">Procurar</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    @if (!User.Identity.IsAuthenticated)
                     {
                         <li><a href="@Url.Action("LogIn","Account")">Log In</a></li>
                         <li><a href="@Url.Action("Create","Account")">Registar</a></li>
                     }
                    else
                    {
                        <li><a href="@Url.Action("Index","Account")">Gerir Conta</a></li>
                        <li><a href="@Url.Action("Logout","Account")">Log Out</a></li>  
                    }
                </ul>
                </div>
            </div>
        </div>
        <!--Navbar -->
        <div class="container">
        <div class="col-md-3" >
            <div class="row" >
                <ul class="list-unstyled">
                    <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
                                                <h5>Settings <i class="glyphicon glyphicon-chevron-down"></i></h5>
                                            </a>
                        <ul class="list-unstyled collapse in" id="userMenu">
                            <li class="active"> <a href="@Url.Action("Index", "Account")"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                            <li><a href="@Url.Action("Inbox", "Account")"><i class="glyphicon glyphicon-envelope"></i> Mensagens <span class="badge badge-info">4</span></a></li>
                            <li><a href="@Url.Action("Edit", "Account")"><i class="glyphicon glyphicon-cog"></i> Editar Conta</a></li>
                            <li><a href="@Url.Action("ManageAd","Account")"><i class="glyphicon glyphicon-wrench"></i> Gerir Anúncios</a></li>
                            <li><a href="@Url.Action("Add","Advertise")"><i class="glyphicon glyphicon-plus-sign"></i> Adicionar Anúncio</a></li>
                            <li><a href="@Url.Action("Logout","Account")"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div></div>
        <div class="col-md-8">
            @RenderBody()
        </div>
            </div>
        <br />
        <footer><span class="label label-default">Copyright G05 PI 13/14 SVer. All Rights Reserved.</span></footer>
    </body>
</html>