@model Model.Advert


<tr id="@String.Format("car{0}", @Model.Id)">
    <td>
        <img class="advertiseImage" src="~/Content/images/CarPhotos/@Model.Photos.First.Value.Link"></td>
    <td>
        <p class="advertData"><a href="@Url.Action("Detailed", "Advertise", new {id = @Model.Id})">@Model.Brand @Model.Model @Model.Version : @Model.Kilometers Km's</a></p>
        <p class="fuelType advertData">@Model.Year - @Model.FuelType.ToString().Replace('_',' ') - @Model.averageRate <span class="glyphicon glyphicon-star"></span></p>
    </td>
    <td>@Model.Price.000 €</td>
    <td>
        @Html.Partial("PartialCharacteristics", Model.Characteristics)
    </td>
</tr>

